@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-std-color: black;
  --text-color-white: #fff;
}

html,
body,
:root {
  height: 100%;
  background-color: var(--background-std-color);
  color-scheme: light dark;
  color: var(--text-color-white);
}
